<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Credit cards</title>
</head>
<body>

<h2>Add a credit card</h2>

<form action="#" th:action="@{/form}" method="POST">
    <p><label for="number">Number</label>: <input type="text" name="number" id="number"/></p>
    <p><input type="submit" value="Submit"/></p>
</form>

<table>
    <tr>
        <th>Username</th>
        <th>Credit card number</th>
    </tr>
    <tr th:each="card : ${cards}">
        <td th:text="${account.username}">Username</td>
        <td th:text="${card.number}">Credit card number</td>
    </tr>
</table>

</body>
</html>
