<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${account.name} + '\'s credit cards'"></title>
</head>
<body>

<h2 th:text="${account.name} + '\'s credit cards'"></h2>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Card number</th>
    </tr>
    <tr th:each="card : ${cards}">
        <td th:text="${card.account.name}"></td>
        <td th:text="${card.number}"></td>
    </tr>
</table>

<h2>Add a credit card</h2>

<form th:action="@{/addCard}" method="POST">
    <p><label>Card number</label>: <input type="text" name="number"/></p>
    <p><input type="submit" value="Submit"/></p>
</form>

<h2>Change name</h2>

<form th:action="@{/changeName}" method="POST">
    <p><label>New name</label>: <input type="text" name="newName"/></p>
    <p><input type="submit" value="Submit"/></p>
</form>

<p></p>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>
